{% extends "base.html" %}

{% block title %}Log-in{% endblock %}

{% block content %}
  <h1>Вход</h1>
  {% if form.errors %}
    <p>
      Пароль или имя не совпадают. попробуйте еще раз.
    </p>
  {% else %}
    <p>Пожалуйста, заполните данную форму для входа. Если у Вас нет аккаунта,  <a href="{% url "register" %}">зарегистрируйтесь.</a></p>
  {% endif %}
  <div class="login-form">
    <form action="{% url 'login' %}" method="post">
      {{ form.as_p }}
      {% csrf_token %}
      <input type="hidden" name="next" value="{{ next }}" />
      <p><input type="submit" value="Вход"></p>
    </form>
    <p><a href="{% url "password_reset" %}">Забыли пароль?</a></p>
  </div>
{% endblock %}