{% extends "base.html" %}
{% load static %}
{% block title %} My title {% endblock %}

{% block content %}
    <H1>{{ class_ }} класс. Темы, изучаемые в этом классе: </H1>
    <hr>
    <ul>
        {% for paragraph in paragraphs %}
           <li><a class="nav-link" href="{% url "all_tasks" class_ paragraph.paragraph_id %}">
                §{{ paragraph.paragraph_id }}. {{ paragraph.title }}
           </a></li>
        {% endfor %}
    </ul>
{% endblock %}

{% block menu %}
    <H4><a href="{% url "school_tasks" %}">Изучаемые темы</a></H4>

    {% for cur_class in classes %}
        {% if cur_class != class_ %}
            <a class="nav-link active" href="{% url "all_paragraphs" cur_class %}">
                <H5>{{ cur_class }} класс.</H5>
            </a>
        {% endif %}
    {% endfor %}
    {% for cur_class in classes %}
        {% if cur_class == class_ %}
            <a class="nav-link disabled" href="{% url "all_paragraphs" cur_class %}">
                <H5>{{ cur_class }} класс.</H5>
            </a>
        {% endif %}
    {% endfor %}
    {% for cur_paragraph in paragraphs %}
        <a class="nav-link active" href="{% url "all_tasks" cur_paragraph.class_id cur_paragraph.paragraph_id %}">
            <H6>§{{ cur_paragraph.paragraph_id }}. {{ cur_paragraph.title }}</H6>
        </a>
    {% endfor %}
{% endblock %}
