{% extends "base.html" %}
{% load static %}
{% block title %} My title {% endblock %}

{% block content %}
    <H1>{{ paragraph.class_id }} класс. §{{ paragraph.paragraph_id }}. {{ paragraph.title }} </H1>
    <hr>
    <h2>Примеры:</h2>
        <ul>
            {% for cur_task in lesson_tasks %}
               <li><a class="nav-link" href="{{ cur_task.task.get_absolute_url }}">
                    Пример {{ cur_task.task_number }}{% if cur_task.task_title is not None %}. {{ cur_task.task_title }} {% endif %}
               </a></li>
            {% endfor %}
        </ul>
    <h2>Упражнения:</h2>
        <ul>
            {% for cur_task in hw_tasks %}
               <li><a class="nav-link" href="{{ cur_task.task.get_absolute_url }}">
                    Упр.3 {{ cur_task.task_number }} {% if cur_task.task_title is not None %} {{ cur_task.task_title }} {% endif %}
               </a></li>
            {% endfor %}
        </ul>
{% endblock %}

{% block menu %}
    <H4><a href="{% url "school_tasks" %}">Изучаемые темы</a></H4>
    <H5><a href="{% url "all_paragraphs" paragraph.class_id %}">{{ paragraph.class_id }} класс.</a></H5>
    {% for cur_paragraph in paragraphs %}
        {% if cur_paragraph == paragraph %}
            <a class="nav-link disabled" href="{% url "all_tasks" cur_paragraph.class_id cur_paragraph.paragraph_id %}">
                <H6>§{{ cur_paragraph.paragraph_id }}. {{ cur_paragraph.title }}</H6>
            </a>
        {% else %}
            <a class="nav-link active" href="{% url "all_tasks" cur_paragraph.class_id cur_paragraph.paragraph_id %}">
                <H6>§{{ cur_paragraph.paragraph_id }}. {{ cur_paragraph.title }}</H6>
            </a>
        {% endif %}
    {% endfor %}
{% endblock %}
