{% extends "base.html" %}
{% load static %}
{% block title %} My title {% endblock %}

{% block content %}
    <H1>{{ class_ }} класс. Темы, изучаемые в этом классе: </H1>
    <hr>
    <ul>
        {% for paragraph in paragraphs %}
           <li><a class="nav-link" href="{% url "all_tasks" class_id paragraph.paragraph_id %}">
                §{{ paragraph.paragraph_id }}. {{ paragraph.title }}
           </a></li>
        {% endfor %}
    </ul>
{% endblock %}

{% block menu %}
    <H4>Школьная программа</H4>
    <H5>{{ paragraph.class_id }} класс.</H5>
    {% for cur_class in classes %}
        {% if cur_class == class_ %}
            <a class="nav-link disabled" href="{% url "all_paragraphs" cur_class %}">
                <H5>{{ cur_class }} класс.</H5>
            </a>
        {% else %}
            <a class="nav-link active" href="{% url "all_paragraphs" cur_class %}">
                <H5>{{ cur_class }} класс.</H5>
            </a>
        {% endif %}
    {% endfor %}
{% endblock %}
