{% extends "base.html" %}
{% load static %}
{% block title %} My title {% endblock %}

{% block content %}
    <H1>{{ paragraph.class_id }} класс. §{{ paragraph.paragraph_id }}. {{ paragraph.title }} </H1>
    <h2>Задания с уроков:</h2>
        <ul>
            {% for cur_task in lesson_tasks %}
               <li><a class="nav-link" href="{{ cur_task.get_absolute_url }}">
                    {{ cur_task.task_number }} {% if cur_task.task_title is not None %} {{ cur_task.task_title }} {% endif %}
               </a></li>
            {% endfor %}
        </ul>
    <h2>Упражнения:</h2>
        <ul>
            {% for cur_task in hw_tasks %}
               <li><a class="nav-link" href="{{ cur_task.get_absolute_url }}">
                    {{ cur_task.task_number }} {% if cur_task.task_title is not None %} {{ cur_task.task_title }} {% endif %}
               </a></li>
            {% endfor %}
        </ul>
{% endblock %}

{% block menu %}
    <H5>{{ task.class_id }} класс.</H5>
    <H6>Параграф {{ task.paragraph }}</H6>
    {% for cur_paragraph in paragraphs %}
        {% if cur_task == task %}
            <a class="nav-link disabled" href="{% url "all_tasks" cur_paragraph.class_id cur_paragraph.paragraph_id %}">
                <H6>Параграф {{ cur_paragraph.paragraph_id }}. {{ cur_paragraph.title }}</H6>
            </a>
        {% else %}
            <a class="nav-link active" href="{% url "all_tasks" cur_paragraph.class_id cur_paragraph.paragraph_id %}">
                <H6>Параграф {{ cur_paragraph.paragraph_id }}. {{ cur_paragraph.title }}</H6>
            </a>
        {% endif %}
    {% endfor %}
{% endblock %}
