{% extends "base.html" %}
{% block title %} Все Задачи {% endblock %}

{% block content %}
    <h4>Все задачи:</h4>
    {% for task in tasks %}
        <a class="nav-link active" href="{{ task.get_absolute_url }}">
            {{ task.task_number }} {{ task.task_title }}
        </a>
    {% endfor %}
{% endblock %}

{% block menu %}
    <h6>Задачи темы</h6>
    {% for cur_task in tasks %}
        <a class="nav-link active" href="{{ cur_task.get_absolute_url }}">
            {{ cur_task.task_number }} {{ cur_task.task_title }}
        </a>
    {% endfor %}
{% endblock %}
