{% extends "base.html" %}
{% load static %}
{% block title %} My title {% endblock %}

{% block content %}
    <H1>Учебная программа. Классы, в которых изучается Паскаль: </H1>
    <hr>
    <ul>
        {% for class_ in classes %}
           <li><a class="nav-link" href="{% url "all_paragraphs" class_ %}">
                {{ class_ }} класс
           </a></li>
        {% endfor %}
    </ul>
{% endblock %}

{% block menu %}
    <H4><a href="{% url "school_tasks" %}">Изучаемые темы</a></H4>
   {% for class_ in classes %}

   <a class="nav-link" href="{% url "all_paragraphs" class_ %}">
        {{ class_ }} класс
   </a>
{% endfor %}
{% endblock %}
