{% extends "base.html" %}
{% block title %} My title {% endblock %}

{% block content %}
    {% load static %}
<script src="{% static "mirror_lib/codemirror.js" %}"></script>
<link rel="stylesheet" href="{% static "mirror_lib/codemirror.css" %}">
<script src="{% static "mode/pascal/pascal.js" %}"></script>

{#    <article>#}
<h2>Pascal mode</h2>


<div class = "border" style="margin-bottom: 5pt"><textarea id="code" name="code">
program HelloWorld;
    begin writeln('Hello, world');
end.
</textarea>

</div>
    <div>
        <button type="button" id="run" class="btn btn-primary" onclick="myFunction()">Главный</button>
        <button type="button" class="btn btn-secondary" style="background: black">Вторичный</button>
        <button type="button" class="btn btn-success">Успех</button></div>

    <script>

      var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
          lineNumbers: true,
          mode: "text/x-pascal"
      });
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script>
    var csrftoken = Cookies.get('csrftoken');
    function csrfSafeMethod(method) {
      // these HTTP methods do not require CSRF protection
      return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
      beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
          xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
      }
    });
    function myFunction() {
        const data={
            pascal_code: document.getElementById("code").value,
        };
        $.get('{% url 'codetest' %}', data, function(data, status){
            editor.setValue(data.data);
        });
    }
    </script>
{#    <p><strong>MIME types defined:</strong> <code>text/x-pascal</code>.</p>#}
{#  </article>#}


{% endblock %}
