{% extends "base.html" %}
{% load static %}
{% block title %} My title {% endblock %}

{% block content %}

    <script src="{% static "mirror_lib/codemirror.js" %}"></script>
    <link rel="stylesheet" href="{% static "mirror_lib/codemirror.css" %}">
    <script src="{% static "mode/pascal/pascal.js" %}"></script>
    <div class="container-flex m-4 mt-sm-1">
        <div class="row mb-1">
            <div class="col-sm-12">
                <div class="d-flex align-items-left flex-column border mb-1">
                    <div class="px-2 py-0"><b>{{ task.task_number }}</b> {% if task.task_title is not None %} {{ task.task_title }} {% endif %}</div>
                    <div class="px-2 py-0">{{ task.task_description }}</div>
                </div>
                <div class="border" style="margin-bottom: 5pt"><textarea id="code" name="code">{{ task.task_snippet }}</textarea>
                </div>
                <div>
                    <button type="button" id="run" class="btn btn-primary" onclick="myFunction()">Запуск</button>
                    <button type="button" class="btn btn-secondary" onclick="resetCode()">Сбросить</button>
{#                    <button type="button" class="btn btn-success">Отправить на поверку</button>#}
                </div>
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-sm-6">
                <h5>Input:</h5>
                <div class="border" style="margin-bottom: 5pt">
                    <textarea id="inp" name="inp"></textarea>
                </div>
            </div>
            <div class="col-sm-6">
                <h5>Output:</h5>
                <div class="border" style="margin-bottom: 5pt">
                    <textarea id="outp" name="outp"></textarea>
                </div>
            </div>
        </div>
    </div>


    <script>
        var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
            lineNumbers: true,
            mode: "text/x-pascal"
        });
        var inp = CodeMirror.fromTextArea(document.getElementById("inp"), {
            lineNumbers: true,
        });
        var outp = CodeMirror.fromTextArea(document.getElementById("outp"), {
            lineNumbers: true,
            readOnly: true,
        });
        inp.setSize(null, 150);
        outp.setSize(null, 150);
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script>
        var csrftoken = Cookies.get('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        function myFunction() {

            const data = {
                pascal_code: editor.getValue(),
                input: inp.getValue(),
            };
            $.post('{% url 'codetest' %}', data, function (data, status) {
                outp.setValue(data.data);
            });
        }

        function resetCode() {
            $.post('.', {}, function (data, status) {
                editor.getDoc().setValue(data.data);
            });
        }
    </script>
{% endblock %}

{% block menu %}
    <H4><a href="{% url "school_tasks" %}">Изучаемые темы</a></H4>
    <H5><a href="{% url "all_paragraphs" task.class_id %}">{{ task.class_id }} класс.</a></H5>
    <H6> <a href="{% url "all_tasks" task.class_id task.paragraph %}">§{{ paragraph.paragraph_id }}. {{ paragraph.title }}.</a></H6>
<div id="accordion" style="padding-left: 15px">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        {% if task.class_homework == 'lesson' %}
            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        {% else %}
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
        {% endif %}
          Примеры
        </button>
      </h5>
    </div>

    {% if task.class_homework == 'lesson' %}
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
    {% else %}
        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
    {% endif %}
      <div class="card-body">
          {% for cur_task in lesson_tasks %}
            {% if cur_task == task %}
                <a class="nav-link disabled" href="{{ cur_task.task.get_absolute_url }}">
                    Пример {{ cur_task.task_number }}{% if cur_task.task_title is not None %}. {{ cur_task.task_title }} {% endif %}
                </a>
            {% else %}
                <a class="nav-link active" href="{{ cur_task.task.get_absolute_url }}">
                    Пример {{ cur_task.task_number }}{% if cur_task.task_title is not None %}. {{ cur_task.task_title }} {% endif %}
                </a>
            {% endif %}
          {% endfor %}
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        {% if task.class_homework == 'homework' %}
            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
        {% else %}
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        {% endif %}
          Упражнения
        </button>
      </h5>
    </div>

    {% if task.class_homework == 'homework' %}
        <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordion">
    {% else %}
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
    {% endif %}
      <div class="card-body">
        {% for cur_task in hw_tasks %}
            {% if cur_task == task %}
                <a class="nav-link disabled" href="{{ cur_task.task.get_absolute_url }}">
                     Упр. {{ cur_task.task_number }} {% if cur_task.task_title is not None %}{{ cur_task.task_title }} {% endif %}
                </a>
            {% else %}
                <a class="nav-link active" href="{{ cur_task.task.get_absolute_url }}">
                     Упр. {{ cur_task.task_number }} {% if cur_task.task_title is not None %} {{ cur_task.task_title }} {% endif %}
                </a>
            {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>

</div>

{% endblock %}
